* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #c2c2c285;
  position: relative;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.welcome-msg {
  text-align: center;
  margin-bottom: 0px;
}

nav {
  background-color: black;
  font-size: 15px;
  overflow: hidden;
}

nav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #317df7;
  color: white;
}

#header1 {
  text-align: center;
  margin-bottom: 30px;
}

button {
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
  background-color: #06c506;
  border: none;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  width: 100px;
  margin: 4px 2px;
}

.button-login {
  padding: 0px;
  background-color: white;
  color: black;
}

.button-login:hover {
  background-color: gray;
}

.btn-group {
  text-align: center;
  margin-top: auto;
}

button:hover {
  background-color: #010a01;
}

footer {
  background-color: black;
  color: white;
  text-decoration: none;
  margin-top: auto;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #317df7;
}

#copyright {
  text-align: left;
}

form {
  width: 300px;
  padding: 20px;
  background-color: #ffffff88;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 30px;
}

form input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
}

form a {
  display: block;
}

ul {
  list-style-type: none;
}

.team-forms {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
}

.team-forms form {
  width: 300px;
  padding: 20px;
  background-color: #ffffff88;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.team-forms form input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.team-forms form button {
  width: calc(100% - 20px);
  box-sizing: border-box;
  margin-top: 10px;
}

.team-forms form a {
  display: block;
  margin-top: 10px;
}

.team-forms form:nth-child(2) {
  padding: 6px 30px;
}

#main-header {
  padding-top: 1em;
  padding-bottom: 0.8em;
  overflow: hidden;
  background-color: #317df7;
  color: white;
  margin-bottom: 10px;
}

/* table inside header */
#logo-nav-login {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

#logo-nav-login tbody td:nth-child(1) {
  text-align: left;
  width: 20%;
  min-width: 164px;
}

/* 2nd table cell - navigation bar */
#logo-nav-login tbody td:nth-child(2) {
  text-align: center;
  width: 60%;
}

/* 3rd table cell - login button */
#logo-nav-login tbody td:nth-child(3) {
  text-align: right;
  width: 20%;
}

/* brand logo, fire effect */
#branding {
  padding-left: 20px;
}

.branding-name {
  color: black;
  position: absolute;
  top: 108px;
  left: 70px;
}

/* navigation bar list */
#main-header nav ul {
  margin: 0px;
  padding: 0px;
}

/* navigation bar list items */
#main-header li {
  display: inline;
  padding-left: 12px;
  padding-right: 12px;
}

/* navigation bar links */
#main-header nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* navigation bar current page */
#main-header .current a {
  background-color: #317df7;
}

#main-header .current button {
  background-color: gray;
}

/* span outside login button */
#main-header #login {
  padding-top: 0em;
  float: right;
  padding-right: 20px;
  font-size: 18px;
}

.task-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.create-list-form {
  margin-top: 10px;
}

.task-list {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  max-width: calc(33.33% - 20px);
}

.task-list h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.task-list .details {
  padding: 10px;
}

.task-list .details p {
  margin: 5px 0;
}

.task-list .details p strong {
  font-weight: bold;
}

.task-list .tasks {
  margin-top: 10px;
}

.task-list .tasks ul {
  list-style-type: none;
  padding: 0;
}

.task-list .tasks ul li {
  margin-bottom: 5px;
}

.delete-button-form {
  background: none;
  border: none;
  margin-top: 0px;
  padding-top: 0px;
}

.task-buttons {
  position: static;
  margin-top: 10px;
}

.delete-list-btn {
  all: unset;
  cursor: pointer;
  border-radius: 8px;
  background-color: #0f0e0e2f;
  padding: 2px;
}

.delete-list-btn:hover {
  background-color: #0f0e0e66;
}

.edit-button {
  background-color: #0f0e0e2f;
  padding: 2px;
  border-radius: 8px;
}

.edit-button:hover {
  background-color: #0f0e0e66;
}

.assign-list-btn {
  background-color: #0f0e0e2f;
  padding: 2px;
  border-radius: 8px;
  display: inline-block;
}

.assign-list-btn:hover {
  background-color: #0f0e0e66;
}

.delete-task-btn {
  all: unset;
  cursor: pointer;
}

.delete-task-btn:hover {
  background-color: unset;
}

.delete-task-btn {
  background: none;
  border: none;
  margin-top: 0px;
  padding-top: 0px;
}

.create-team-form {
  margin-top: 10px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.team {
  width: 300px;
  height: 200px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}

#error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}

.back-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 700px;
}

.back-button:hover {
  background-color: #0056b3;
}

.form-container {
  font-family: sans-serif;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container label,
.form-container select,
.form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form-container button {
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #4cae4c;
}

.cancel-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  width: 25%;
  margin-left: 93px;
}

.cancel-button:hover {
  background-color: #0056b3;
}

#add-user-btn {
  width: 38%;
  margin-left: 94px;
}

.register-link {
  text-decoration: none;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
  background-color: #06c506;
  border: none;
  color: white;
  border-radius: 4px;
  width: 28%;
  margin-left: 100px;
}

.register-link:hover {
  background-color: #010a01;
}
